/** 
    *HW-Wireframe
    **/

* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color:black;
    background: #777;
    width: 450px;
    font-size: 18px;
    margin-left: 200px;
}

.SameBkgrdColor{
    background-color: #ebebeb;

}

header{
    padding: 40px;
    margin-bottom: 10px;
    background-color: #ebebeb;
    width: 100%;
    margin-top: 10px;
}

#Nav {
    padding: 40px;
    margin-bottom: 20px;
    width: 100%;
    background: #ebebeb;
}

#Aside {
    background:#ebebeb;
    padding: 20px;
    float: right;
    width: 45%;
    height: 295px;
    margin-bottom: 20px;
    
}

#Article {
    background: #777;
    color: #ebebeb;
    height: 200px;
    padding: 20px;
    margin-top:40px;

}

#header123{
    background: #ebebeb;
    color: black;
    padding: 20px;
    margin-top: 20px;

}

#p {
    background: #ebebeb;
    color: black;
    padding: 20px;
    margin-top: 10px;

}

.Group {
    background: #ebebeb;
    padding: 20px;
    float:left;
    width:52%;
    height: 295px;
    margin-bottom: 20px;
    
}

footer{
    clear: both;
    overflow: auto;
    background: #ebebeb;
    margin-top: 20px;
    padding: 20px;
}
